Package: imageprepsharp
Version: 0.3
Architecture: all
Section: contrib/graphics
Homepage: https://github.com/DavidBarts/ImagePrepSharp
Recommends: dotnet-runtime-10.0 dotnet-host-10.0 dotnet-hostfxr-10.0 dotnet-templates-10.0
Build-depends: dotnet-sdk-10.0 dotnet-sdk-aot-10.0
Priority: optional
Installed-Size: REPLACE_WITH_ACTUAL_SIZE
Description: Prepare photos for sharing via web, email, or social media.
 This dummy line here to make lintian happy.
Maintainer: David Barts <invalid@example.com>
